:root {
    --form-background: rgba(200, 200, 200, 30)
}


.container {
    height: 100vh;
}


.form-background {
    margin: 0 auto;
    text-align: center;;
    margin-top: 5vh;
    background-color: var(--form-background);
    width: 40%;
    border-radius: 30px;
    height: fit-content;
}

form {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 90%;
}

img{
    width: 50px;
}